<?xml version="1.0" encoding="utf-8" ?>
<Root FeatureName="HelloWorld">
  <HelloWorld>
    <Name>NAME_ARG</Name>
  </HelloWorld>
  <HelloWorldPython>
    <Name>NAME_ARG</Name>
  </HelloWorldPython>
  <UpdateConfig>
    <InputConfig Path="\\PATH\OF\INPUT_CONFIG"/>
    <OutputConfig Path="\\PATH\OF\OUTPUT_CONFIG"/>
  </UpdateConfig>
  <CostSaving>
    <StartTime>START_TIME</StartTime>
    <EndTime>END_TIME</EndTime>
    <OutputFolder Path="\\OUTPUT_FOLDER"/>
  </CostSaving>
  <NewHelloWorld>
    <Name>NAME_ARG</Name>
    <Repeat>5</Repeat>
  </NewHelloWorld>
  <NewHelloWorldPython>
    <Name>NAME_ARG</Name>
    <Repeat>5</Repeat>
  </NewHelloWorldPython>
  <Common>
    <Python Path="\\LOCAL\PYTHON\PATH"/>
    <TmpFolder Path=""/>
  </Common>
</Root>