<?xml version="1.0" encoding="utf-8" ?>
<Root FeatureName="NA">
  <HelloWorld>
    <Name>Bobo</Name>
  </HelloWorld>
  <HelloWorldPython>
    <Name>Bobo</Name>
  </HelloWorldPython>
  <CostSaving>
    <StartTime>2020/07/01</StartTime>
    <EndTime>2020/10/31</EndTime>
    <OutputFolder Path="D:\tmp\Archive"/>
  </CostSaving>
  <UpdateConfig>
    <InputConfig Path="D:\tmp\Archive\Config.xml"/>
    <OutputConfig Path="D:\tmp\Archive\NewConfig.xml"/>
  </UpdateConfig>
  <Common>
    <Python Path="C:\Users\tangx\AppData\Local\Programs\Python\Python36\python.exe"/>
  </Common>
</Root>